body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ul#activities {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li.activity {
	text-align: center;
	font-size: 3em;
	background-color: #CCCCCC;
	padding: 0.75em;
	display: inline-block;
	margin-bottom: 5px;
}

li.activity img {
	width: 2em;
	height: auto;
}

a:link, a:visited, a:active {
	color: #FFF;
	text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalForm input {
	font-size: 2em;
}

#modalForm {
	font-size: 1.5em;
}

#since-table {
	font-size: 1.5em;
    border-collapse: collapse;
    width: 100%;
}

#since-table td, #since-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#since-table tr:nth-child(even){background-color: #f2f2f2;}

#since-table tr:hover {background-color: #ddd;}

#since-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #aaa;
    color: white;
}