<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Events - Baby Tracker</title>
	<meta name="description" content="Baby Tracker Events">
	<meta name="author" content="SitePoint">
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Activity</th>
				<th>Datetime</th>
			</tr>
		</thead>
		<tbody>
	{% if events %}
		{% for event in events %}
			<tr>
				<td>{{ event['activity'] }}</td>
				<td>{{ event['eventtime'] }}</td>
			</tr>
		{% endfor %}
	{% else %}
		<tr>
			<td colspan="2"><strong>No events yet!</strong></td>
		</tr>
	{% endif %}
		</tbody>
	</table>
</body>
</html>